sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  # - "3.5"  # Has weird numpy binary incompatibility errors
  - "3.6"
  # - "3.7"  # Not yet supported on travis
cache:
  pip: true

os:
  - linux
  - osx
env:
  - SKLEARN_VERSION=0.19.2
  - SKLEARN_VERSION=0.20.0

install:
  - pip install --only-binary=numpy,scipy -r requirements.txt
  - pip install scikit-learn==$SKLEARN_VERSION
  - pip install pytest mock pylint
  - python setup.py clean --all
  - pip install -e .[ensemble]
script:
  - PYTHONPATH=. python -m pytest -rw -v test
  - ./lint
